/*************************
MAIN PAGE: NAVIGATION MENUS
**************************/

.slideOutMenu
{
	position:absolute;
	background-color:#333;
	list-style:none;
	text-align:center;
	margin:0;
	padding:0;
	left:-500px;
	width:200px;
	visibility:hidden;
	opacity:0;
	border:2px silver white;
	transition:left 0s linear 1s, visibility 0.5s ease, opacity 0.5s ease;
	-webkit-transition:left 0s linear 1s, visibility 0.5s ease, opacity 0.5s ease;
	-o-transition:left 0s linear 1s, visibility 0.5s ease, opacity 0.5s ease;
	-moz-transition:left 0s linear 1s, visibility 0.5s ease, opacity 0.5s ease;
	-ms-transition:left 0s linear 1s, visibility 0.5s ease, opacity 0.5s ease;
}

.slideOutMenu a 
{
	display:block;
	padding:10px 0;
	text-decoration:none;
	border-bottom:1px solid black;
	color:#fff;
}

.slideOutMenu a:hover
{
	background-color:#444;
}

.slideOutMenu a:active
{
	background-color:#888;
}

.slideOutMenu.active
{
	opacity:1;
	visibility:visible;
	left:-16px;
	transition:left 0s linear 0s, visibility 0.5s ease, opacity 0.5s ease;
	-moz-transition:left 0s linear 0s, visibility 0.5s ease, opacity 0.5s ease;
	-o-transition:left 0s linear 0s, visibility 0.5s ease, opacity 0.5s ease;
	-ms-transition:left 0s linear 0s, visibility 0.5s ease, opacity 0.5s ease;
	-webkit-transition:left 0s linear 0s, visibility 0.5s ease, opacity 0.5s ease;
}

/*********************************
	MAIN PAGE - MODALS - TEXTFIELD COMMIT
*********************************/

#testTextField
{
	border:none;
	resize:none;
	box-shadow:none;
	min-height:200px;
	background-color:rgba(0,0,0,.04);
}

#commitArrayList,#logSelection
{
	overflow-y:scroll;
	max-height:200px;
}

#commitArrayList, #logSelection
{
	padding:0;
	margin:0;
	list-style:none;
}

#logSelection
{
	padding:5px;
	border:2px solid rgba(0,0,0,0.3);
	min-height:80px;
	border-radius:5px;
}

#logSelection li a 
{
	display:block;
	padding:10px 0;
}

#logSelection li a:hover
{
	background-color:lightblue;
}

#commitArrayList 
{
	border:2px solid rgba(0,0,0,0.3);
	border-radius:5px;
	min-height:80px;
}

#commitArrayList li
{
	padding:5px;
	border-bottom:1px solid #ddd;
}

#clearTextBox
{
	text-decoration:underline;
	display:block;
	padding:7px 0;
}

.catchText
{
	margin-bottom:10px;
}

.commitFormMenu 
{
	box-shadow:0px 9px 21px 1px rgba(0,0,0,.5);
	border:1px solid #bbb;
	width:60%;
	left:50%;
	visibility:visible;
	opacity:1;
	padding:20px;
	margin-top:50px;
	border-radius:8px;
	position:absolute;
	transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-o-transform:translate(-50%,0);
	-webkit-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
}

.commitFormMenu input:not([type="submit"])
{
	width:90%;
}



#loginTitle,#signUpTitle
{
	font-size:2em;
	color:rgba(0,0,0,0.6);
	font-weight:bold;
}

.signUpDirectionalContainer > div
{
	padding:0;
	margin-right:-15px;
}


[id$="_errors"]
{
	
	color: red;
	font-weight:bold;
	font-style:italic;
	
	transition:left 0.35s ease-out 0s,visibility 0.35s ease-in 0s, opacity 0.35s ease-in 0s;
	-moz-transition:left 0.35s ease-out 0s,visibility 0.35s ease-in 0s, opacity 0.35s ease-in 0s;
	-o-transition:left 0.35s ease-out 0s,visibility 0.35s ease-in 0s, opacity 0.35s ease-in 0s;
	-webkit-transition:left 0.35s ease-out 0s,visibility 0.35s ease-in 0s, opacity 0.35s ease-in 0s;
	-ms-transition:left 0.35s ease-out 0s,visibility 0.35s ease-in 0s, opacity 0.35s ease-in 0s;
}

[id$="_errors"].dismissed
{
	left:-50px;
	visibility:hidden;
	opacity:0;
	transition:none;
	-webkit-transition:none;
	-o-transition:none;
	-ms-transition:none;
	-moz-transition:none;
}

 .commitFormMenu input
{
	display:block;
	font-size:1.3em;
	padding:10px;
	border-radius:6px;
}

#loginSubmit,#signUpSubmit
{
	display:block;
	width:100%;
}
/************************
MAIN CONTENT - PURCHASE FORM
*************************/

label[for='r-group']
{
	display:block;
}

#purchaseTotal 
{
	margin-right:8px;
}

/*******************
DEV TOOLS
*******************/
#byteSize
{
	margin-bottom:10px;
}

#tooltip_container
{
	color:#fff;
	position:absolute;
	padding:20px;
	max-width:200px;
	background-color:rgba(0,0,0,0.85);
	border-radius:12px;
}

.tooltip-html-source
{
	display:none;
}

.red_circle
{
	width:10px;
	height:10px;
	background-color:red;
	border-radius:100%;
}

.clear-all:before,.clear-all:after
{
	display:table;
	content:" ";
}

.clear-all:after
{
	clear:both;
}

/****************************
	MEDIA QUERIES
***************************/

@media (min-width:768px){
	.commitFormMenu
	{
		width:60%;
		max-width:600px;
	}

	.commitFormMenu input
	{
		margin-bottom:10px;
	}

	[id$="_errors"]
	{
		margin-top:33px;
		position: relative;
		left:0;
	}

	.signUpDirectionalContainer > div
	{
		float:left;
	}

	.loginDirectional
	{
		float:right;
	}

	.pull-right.col-xs-12.col-sm-7.col-md-7.col-md-offset-1.signUpDirectionalContainer
	{
		padding-left:95px;
	}
}

@media (max-width:768px){
	.commitFormMenu
	{
		width:90%;
		max-width:none;
	}

	.commitFormMenu label,.commitFormMenu input[type='submit']
	{
		margin-top:20px;
	}

	.signUpDirectionalContainer > div
	{
		margin-left:0;
	}
}

#pwConfirmContainer
{
	display:none;
}

